<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta property="og:title" content="DotnetFriday - Valuable knowledge sessions with a good bite" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://dotnetfriday.nl" />
<meta property="og:image" content="https://dotnetfriday.nl/images/logo.png" />
<meta property="og:image:width" content="720" />
<meta property="og:image:height" content="720" />

<!-- ============ import common css ========== -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/layouts/main.css" />
<link rel="stylesheet" href="/assets/css/style.css" />
<link rel="stylesheet" href="/assets/css/navigators/navbar.css" />

<!--=================== cdn ==============================-->
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

<!--================= fab-icon =========================-->
<link rel="icon" type="image/png" href="{{ .Site.Params.logo.favicon | default "/assets/images/favicon.png" | absURL }}" />

<!--================= custom style overrides =========================-->
<link rel="stylesheet" href="/assets/css/style.css" />
