<div class="col-10 col-lg-8">
  <div class="experience-entry-heading">
    <h5>{{ if .speaker.url }}<a href={{.speaker.url}}>{{ .speaker.name }}</a>, {{ .speaker.location }}{{ else }}{{ .speaker.name }}, {{ .speaker.location }}{{ end }}</h5>
    <h6>{{ .speaker.title }}</h6>
    <p>{{ .speaker.overview | markdownify }}</p>
  </div>
  <!-- Add the positions information -->
  <div class="positions">
  {{ range $index,$session:= .sessions }}
      <h6 class="designation">{{ $session.title }}</h6>
      <p class="text-muted">{{ $session.start }} - {{ $session.end }}</p>
      <p class="text-muted">{{ replace $session.description "\n" "<br />" | safeHtml }}</p>
      </ul>
  {{ end }}
  </div>
</div>
