<?xml version="1.0"?>

<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="NonWwwRedirect"  stopProcessing="true"> 
                    <match url="(.*)" /> 
                    <conditions> 
                        <add input="{HTTP_HOST}" pattern="^www.dotnetfriday\.nl$" /> 
                    </conditions> 
                    <action type="Redirect" url="https://dotnetfriday.nl/{R:1}" /> 
                </rule> 
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
